<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container .component-app">
    <div class="row justify-content-center .component-app">
        <div class="col">
            <div class="textinput" #box>
                {{box2}}
            </div>
            <!-- <input type="text" name="box" class="form-control textinput" #box value="{{model.box}}" disabled> -->
        </div>
        <div class="w-100"></div>
        <div class="col .component-app">
            <div class="lnlinediv">
                <div>
                    <div class="component wide ac">
                        <input type="button" class="calbutton wide" value="AC" (click)="resetCal($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton colorbtn" value="/" (click)="captureInput($event)">
                    </div>
                </div>
                
                <div>
                    <div class="component">
                        <input type="button" class="calbutton" value="9" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton" value="8" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton" value="7" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton colorbtn" value="X" (click)="captureInput($event)">
                    </div>
                </div>
                
                <div>
                    <div class="component">
                        <input type="button" class="calbutton" value="6" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton" value="5" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton" value="4" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton colorbtn" value="+" (click)="captureInput($event)">
                    </div>
                </div>

                <div>
                    <div class="component">
                        <input type="button" class="calbutton" value="3" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton" value="2" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton" value="1" (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton colorbtn" value="-" (click)="captureInput($event)">
                    </div>
                </div>

                <div>
                    <div class="component wide po">
                        <input type="button" class="calbutton " value="0" (click)="captureInput($event)">
                    </div>
                    <div class="component widey">
                        <input type="button" class="calbutton" value="." (click)="captureInput($event)">
                    </div>
                    <div class="component">
                        <input type="button" class="calbutton colorbtn" value="=" (click)="captureInput($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>